/* Style here will effect all the existing html files */

@import url('https://fonts.googleapis.com/css2?family=Itim&family=Rochester&display=swap'); /* Rochester and Itim fonts */

/* Using the root pseudo class to organize the fonts and colors inside the root directory */
:root{
    --highlightText: rgb(208, 175, 90);
    --highlightBackground: rgb(7, 52, 89);

    --bodyColor: rgb(255, 255, 255);
    --companyNameColor: #130101;
    --textColorLight: rgb(90, 89, 95);
    --textColorDark: rgb(7, 52, 89);

    --buttonBackground: rgb(208, 175, 90);
    --buttonText: rgb(45, 63, 79);

    --borderLight: rgb(90, 89, 95);
    --borderDark: rgb(45, 42, 59);

    --shopBackgroundLight: rgb(239, 231, 185);
    --shopElementBackgroundLight: rgb(217, 217, 217);
}


*::selection{
    background-color: var(--highlightBackground);
    color: var(--highlightText);
}

body{
    width: 100svw;
    height: 100svh;
    padding: 0;
    margin: 0;
    background-color: var(--bodyColor);
    scroll-behavior: smooth;
}

/* Start of header section */
header{
    display: flex;
    align-items: center;
    padding: 10px;
    width: 100%;
    position: fixed;
    background-color: transparent;
    /* border: 1px solid red; */
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: black;
}

nav{
    width: 70%;
    margin-left: 40%;
    height: 10%;
}

#headerLogo{
    width: 50px;
}

#headerLeft{
    display: flex;
    width: 60%;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
}

#searchBar{
    height: 60%;
    width: 100%;
}

#headerListContainer{
    display: flex;
    width: 100%;
    padding: 0;
    justify-content: space-evenly;
}

#iconContainer{
    display: flex;
    width: 12%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 10px 0 0;
}

.icon{
    width: 23px;
    padding: 5px;
    margin: 5px;
    stroke: var(--highlightBackground);
}

#userProfilePicture{
    min-width: 25px;
    min-height: 25px;
    border: 1px solid var(--borderLight);
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.419);
}


/* End of header section */


/* Start of footer sections */

#footer{
    font-family: Itim, Arial, Helvetica, sans-serif;
    display: grid;
    width: 100%;
    height: 40%;
}
