@import url('https://fonts.cdnfonts.com/css/merge-one'); /* merge one font */


body{
    width: 100svw;
    height: 100svh;
    padding: 0;
    margin: 0;
    background-color: var(--bodyColor);
    scroll-behavior: smooth;
}
/* Start of heading sections */

/* Header styles are on globalStyle.css */

/* End of header section */
/* -------------------------- */
/* Start of Hero Section */

#heroNumbers{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background-position: center;
    padding: 5px 10px;
    color: var(--textColorLight);
    font-family: Itim,Arial, Helvetica, sans-serif;
}

#heroImage{
    width: 100vw;
    height: 41.962rem;
    object-fit: cover;
    margin: 0px 0 5px 0;
}

.heroNumberBig{
    font-size: 4rem;
    font-weight: bold;
    line-height: 35px;
}

.heroNumberSmall{
    font-size: 1.875rem;
    font-weight: 400;
    margin-right: 20px;
}

/* End of Hero Section */

/* Start of search section */

#searchBarSection{
    box-sizing: border-box;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-around;
    padding: 10px 60px 10px 20px;
    margin: 0 0 30px 0;
}

#searchButtonContainer{
    width: 37%;
    height: 100%;
}

#searchButton{
    width: 100%;
    height: 100%;
    padding: 7px 10px;
    font-size: 1.15rem;
    font-family: 'Merge One', sans-serif;
    border-radius: 15px;
    border: 1.5px solid var(--borderLight);
    background-color: var(--buttonBackground);
    color: var(--buttonText);
    transition: all 0.3s ease-out;
}

#searchButton:hover{
    border: 1px solid var(--borderDark);
    background-color: var(--buttonText);
    color: var(--buttonBackground);
}

#searchBarContainer{
    width: 60%;
    height: 65%;
}

#searchedItems{
    width: 100%;
    height: 100%;
    padding: 7px 20px;
    border-radius: 10px;
    border: 1px solid var(--buttonText);
    outline: none;
    font-size: 1.15rem;
    font-family: 'Merge One', sans-serif;
    color: var(--textColorLight);
}

/* End of search section */

/* Start of Shop Section */

#shop {
    margin: 80px 0 0 0;
    display: grid;
    width: 100%;
    height: calc(100vh - 80px); /* Adjust height to account for the margin */
    grid-template-rows: auto auto;
    align-items: start; /* Aligns the items to the start of the grid container */
    justify-items: center;
    gap: 20px; /* Adds space between the sections */
}

.shopSectionContainer {
    width: 87%;
    height: 60%; /* Explicit height to ensure sections are spaced correctly */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    align-items: center;
    align-content: center;
    background-color: var(--shopBackgroundLight);
    padding: 40px;
    border-radius: 20px;
    /* border: 1px solid red; */
}

.shopElements {
    border: none;
    border-radius: 20px;
    /* padding: 60px; */
    background-color: var(--shopElementBackgroundLight);
}

#shopSection1 {
    grid-template-areas: 
        "shopHeading1 shopHeading1 shopHeading1"
        "sectionElement1 sectionElement2 sectionElement4"
        "sectionElement1 sectionElement2 sectionElement4"
        "sectionElement1 sectionElement3 sectionElement3"
        "sectionElement1 sectionElement3 sectionElement3";
}

#shopSection2 {

    grid-template-areas: 
    "shopHeading2 shopHeading2 shopHeading2"
        "sectionElement5 sectionElement6 sectionElement8"
        "sectionElement5 sectionElement6 sectionElement8"
        "sectionElement5 sectionElement7 sectionElement8";
}


#shopSection3 {

    grid-template-areas: 
    "shopHeading2 shopHeading2 shopHeading2"
        "sectionElement9 sectionElement10 sectionElement12"
        "sectionElement9 sectionElement10 sectionElement12"
        "sectionElement9 sectionElement11 sectionElement12"
        "sectionElement9 sectionElement11 sectionElement12";
}


/* End of Shop section */