/* Organize the fonts and colors inside the root directory */


body{
    width: 100svw;
    height: 100svh;
    padding: 0;
    margin: 0;
    background-color: var(--bodyColor);
}

/* Start of heading sections */

/* Header styles are on globalStyle.css */

/* End of header section */
/* -------------------------- */
/* Start of Hero Section */

#heroNumbers{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background-position: center;
    padding: 5px 10px;
    color: rgb(90, 89, 95);
    cursor: default;
}

#heroImage{
    width: 100vw;
    height: 78vh;
    object-fit: cover;
    margin: 10px 0 5px 0;
}

.heroNumberBig{
    font-size: 2rem;
}

.heroNumberSmall{
    font-size: 1.05rem;
}

.heroNumberBig:hover{
    cursor: text;
}
/* End of Hero Section */

/* Start of search section */

#searchBarSection{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 10px 20px;
}

#searchButtonContainer{
    width: 30%;
}

#searchButton{
    width: 100%;
    padding: 7px 10px;
    font-size: 1.15rem;
    border-radius: 15px;
    border: 1.5px solid var(--textColorLight);
    background-color: var(--buttonBackground);
    color: var(--buttonText);
    transition: all 0.3s ease-out;
}

#searchButton:hover{
    border: 1px solid rgb(45, 42, 59);;
    background-color: rgb(45, 63, 79);
    color: var(--buttonBackground);
}

#searchBarContainer{
    width: 40%;
}

#searchedItems{
    width: 100%;
    padding: 7px 20px;
    border-radius: 40px;
    border: 1px solid black;
    outline: none;
    font-size: 1.15rem;
    color: rgb(90, 89, 95);
    background-color: rgba(255, 255, 255, 0.286);
}