@import url('https://fonts.cdnfonts.com/css/merge-one'); /* merge one font */

p{
    margin: 0;
    padding: 0;
}

/* Start of heading sections */
#headerContainer{
    position: absolute;
    /* border: 1px solid red; */
    height: 10%;
    width: 100%;
    background-color: transparent;
    transition: all 0.3s ease;
    z-index: 1000;
}

.beActive{
    background-color: var(--bodyColor);
}

header{
    display: flex;
    width: 100%;
    position: fixed;
    background-color: transparent; 
}

a{
    text-decoration: none;
    color: black;
}

.companyName{
    position: absolute;
    margin: 10px 0 0 30px;
    padding: 0;
    font-family: Rochester,Arial, Helvetica, sans-serif;
    font-size: 1.95rem;
    color: var(--companyNameColor);
    cursor: default;
}

nav{
    width: 70%;
    margin-left: 40%;
    height: 10%;
}

#headerListContainer{
    display: flex;
    width: 100%;
    padding: 0;
    justify-content: space-evenly;
}

.headerList{
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 1.2rem;
    font-family: Itim,Arial, Helvetica, sans-serif;
    color: var(--textColorLightGray);
    transition: all 0.3s ease;
}

.headerList:hover{
    color: var(--highlightText)
}

#iconContainer{
    display: flex;
    width: 12%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 10px 0 0;
}

.icon{
    width: 23px;
    padding: 5px;
    margin: 5px;
    stroke: var(--highlightBackground);
}

#userProfilePicture{
    min-width: 25px;
    min-height: 25px;
    border: 1px solid var(--borderLight);
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.419);
}
/* End of header section */
/* -------------------------- */
/* Start of Hero Section */

#heroNumbers{
    box-sizing: border-box;
    margin: 80px 0 30px 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background-position: center;
    padding: 5px 10px;
    color: var(--textColorLight);
    font-family: Itim,Arial, Helvetica, sans-serif;
}

#heroImage{
    width: 100vw;
    height: 41.962rem;
    object-fit: cover;
    margin: 0px 0 5px 0;
    border: none;
    border-radius: 10px;
}

.heroNumberBig{
    font-size: 4rem;
    font-weight: bold;
    line-height: 35px;
}

.heroNumberSmall{
    font-size: 1.875rem;
    font-weight: 400;
    margin-right: 20px;
}

/* End of Hero Section */

/* Start of search section */

#searchBarSection{
    box-sizing: border-box;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-around;
    padding: 10px 60px 10px 20px;
    margin: 0 0 30px 0;
}

#searchButtonContainer{
    width: 37%;
    height: 100%;
}

#searchButton{
    width: 100%;
    height: 100%;
    padding: 7px 10px;
    font-size: 1.15rem;
    font-family: 'Merge One', sans-serif;
    border-radius: 15px;
    border: 1.5px solid var(--borderLight);
    background-color: var(--buttonBackground);
    color: var(--buttonText);
    transition: all 0.3s ease-out;
}

#searchButton:hover{
    border: 1px solid var(--borderDark);
    background-color: var(--buttonText);
    color: var(--buttonBackground);
}

#searchBarContainerHome{
    width: 60%;
    height: 65%;
}

#searchedItems{
    width: 100%;
    height: 100%;
    padding: 7px 20px;
    border-radius: 10px;
    border: 1px solid var(--buttonText);
    outline: none;
    font-size: 1.15rem;
    font-family: 'Merge One', sans-serif;
    background-color: var(--searchBarBackground);
    color: var(--textColorLight);
}

/* End of search section */

/* Start of Shop Section */

#shop {
    margin: 80px 0 0 0;
    display: grid;
    width: 100%;
    height:auto;
    grid-template-rows: auto auto auto auto auto;
    align-items: start; /* Aligns the items to the start of the grid container */
    justify-items: center;
    gap: 30px; /* Adds space between the sections */
}

.shopSectionContainer {
    width: 87%;
    height: auto; /* Explicit height to ensure sections are spaced correctly */
    margin: 20px 0 20px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    align-items: center;
    align-content: center;
    background-color: var(--shopBackgroundLight);
    padding: 30px;
    border-radius: 20px;
    /* border: 1px solid red; */
}

.shopElements {
    position: relative;
    display: grid;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 20px;
    background-color: var(--shopElementBackgroundLight);
    filter: brightness(0.9);

    background-repeat: no-repeat;
    object-fit: cover;
}

.fade{
    position: absolute;
    top: 0;
    border-radius: 20px;
    height: 100%;
    width: 100%;
    opacity: 1;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.638) , transparent );
    z-index: 10;
    transition: all 0.5s ease;
}

.shopElements:hover .fade{
    opacity: 0;
    visibility: hidden;
}

.sectionHeading{
    font-size: 1.25rem;
    font-family: 'Merge One', sans-serif;
}

#shopSection1 {
    grid-template-areas: 
        "shopHeading1 shopHeading1 shopHeading1"
        "sectionElement1 sectionElement2 sectionElement4"
        "sectionElement1 sectionElement2 sectionElement4"
        "sectionElement1 sectionElement3 sectionElement3"
        "sectionElement1 sectionElement3 sectionElement3";
}

#shopSection2 {

    grid-template-areas: 
        "shopHeading2 shopHeading2 shopHeading2"
        "sectionElement5 sectionElement6 sectionElement8"
        "sectionElement5 sectionElement6 sectionElement8"
        "sectionElement5 sectionElement7 sectionElement8";
}


#shopSection3 {

    grid-template-areas: 
    "shopHeading2 shopHeading2 shopHeading2"
        "sectionElement9 sectionElement10 sectionElement12"
        "sectionElement9 sectionElement10 sectionElement12"
        "sectionElement9 sectionElement11 sectionElement12"
        "sectionElement9 sectionElement11 sectionElement12";
}

/* Adding images to the divs */
#section1Element1{
    background-image: url(./assets/image/Art_Supplies/Faber-Castell/goldFaberAqua-faberCastell.webp);
    background-position: top;
    height: 14rem;

}

#section1Element2{
    background-image: url(./assets/image/Art_Supplies/Doms/brushPen-Doms.jpg);
    background-position: 50% 70%;
    background-size: 97%;
    height: 7rem;
}

#section1Element3{
    background-image: url(./assets/image/Art_Supplies/Doms/domsWatercolorSet.jpg);
    background-position: 50% 65%;
    background-size: 97%;
    height: 7rem;
}

#section1Element4{
    background-image: url(./assets/image/Art_Supplies/Camel/watercolor-camel-small.jpg);
    background-position: 50% 50%;
    background-size: 97%;
    height: 7rem;
}

/* For section 2 */

#section2Element1{
    background-image: url();
    background-position: 50% 70%;
    background-size: 97%;
    height: 14rem;
}

#section2Element2{
    background-image: url();
    background-position: 50% 70%;
    background-size: 97%;
    height: 7rem;
}

#section2Element3{
    background-image: url();
    background-position: 50% 70%;
    background-size: 97%;
    height: 7rem;
}

#section2Element4{
    background-image: url();
    background-position: 50% 70%;
    background-size: 97%;
    height: 14rem;
}

/* For Section 3 */

#section3Element1{
    background-image: url();
    background-position: 50% 70%;
    background-size: 97%;
    height: 14rem;
}

#section3Element2{
    background-image: url();
    background-position: 50% 70%;
    background-size: 97%;
    height: 7rem;
}

#section3Element3{
    background-image: url();
    background-position: 50% 70%;
    background-size: 97%;
    height: 7rem;
}

#section3Element4{
    background-image: url();
    background-position: 50% 70%;
    background-size: 97%;
    height: 14rem;
}

/* End of Shop section */